{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% from 'macros.html' import displayBlogs as db%}
<!-- Styles block -->


<!-- Content block -->
{%block content%}
<div class="container-fluid text-center" style="background-image: url(https://i.pinimg.com/originals/06/26/8b/06268b10ac8a5e6fb2d587c783f8e096.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center; color: white; padding: 55px 25px; font-family: 'Monoton', cursive; height: 550px;">
    <h1 style="font-size: 100px;">The Blogspot</h1>

    <div >
        <a href="{{url_for('main.new_blog')}}" class="btn btn-outline-success" style="margin-left: 480px; font-size: 25px; margin-top: 25%; margin-right: 500px">Write  your Blog</a>
    </div>
        
</div>
<br>
<br>



<div class="container" style="background-color: rgb(49, 123, 139); background-repeat: no-repeat; background-size: cover; background-position: center center; height: auto;">
    <div class="row align-items-start">
      <div class="col">
        <div class="card">
            <h4 class="card-header">{{ quote.author }}</h4>
            <p class="card-body">{{ quote.quote }}</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <h4 class="card-header">{{ quote1.author }}</h4>
            <p class="card-body">{{ quote1.quote }}</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
            <h4 class="card-header">{{ quote2.author }}</h4>
            <p class="card-body">{{ quote2.quote }}</p>
        </div>
      </div>
    </div>


<div class="card-body">
<div class="row">
    {{db(blogs)}}
</div>
</div>

{%endblock%}